* {
  box-sizing: border-box;
}
.Add {
  height: 30%;
  min-height: 140px;
  border: 1px solid black;
  margin: 30px 10%;
  margin-bottom: 5%;
}

.Add input {
  position: relative;
  max-width: 80%;
  border: 1px solid black;
  border-radius: .3em;
}

#save{
  position: relative;
  margin: 5% 10% 5% 10%;
  padding: .2em;
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  background-color: rgb(251, 250, 249);
  border: 1px solid black;
  border-radius: .2em;
}

#save:hover, #save:focus {

  border: 2px solid black;
}

#save:active {
  background-color: rgb(126, 152, 158);
  border: 2px solid black;
}