.calendar {
  width: 75%;
  max-width: 700px;
  border: 2px solid black;
  box-shadow: 2px 2px 10px;
  height: 85%;
  max-height: 500px;
  min-height: 350px;
  margin: 30px 50px 0 50px;
  display: flex;
  flex-direction: column;
}

