.ShowAll {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.ShowAll h2 {
  font-weight: 900;
  margin-top: 0;
}
.ShowAll h5 {
  margin: 0;
  margin-top: .3em;
  border-bottom: 1px solid black;
}

.ShowAll ul {
  padding: 0;
  margin: .3em;
  width: 150px;
}

.ShowAll li {
  text-align: left;

}

.ShowAll div {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {

  .ShowAll {
    width: 25%;
    order: 1;
  }
  
}