.header {
  background-color: rgb(126, 152, 158);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15%;
  min-height: 50px;
  border-bottom: 2px solid black;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
  font-size: 1.3em;
}

.day-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3px;
  font-weight: 700;
}

.previous:hover, .next:hover {
  font-weight: 800;
  cursor: pointer;
}