.body {
  height: 100%;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20%;
}


.day {
  border: 1px solid black;
  width: 15%;
  margin: 1px;
}

.day:hover {
  border: 2px solid black;
}

.day > div {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.day > div > p {
  margin: 0;
  max-height: 50%;
}

.length {
  min-height: 50%;
  list-style-type: none;
  width: 100%;
  font-size: .7em;
  white-space: pre-line;
  word-break: break-all;
}

.before {
  background-color: rgb(241, 241, 241);
  color:rgb(91, 91, 91)
}

.today {
  background-color: rgb(251, 220, 225);
  font-weight: 800 !important;
}

.selected {
  border: 2px solid red;
}

.red {
  color: red;
}