.calendar {
  margin: auto;
}

.week, .day-names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.day {
  border: 1px solid black;
  width: 14%;
  height: 60px;
}

.before {
  background-color: grey;
}

.today {
  background-color: red;
}

.selected {
  background-color: pink;

}

